@{
    ViewData["Title"] = "Order Completed";
}
<div class="card col-xl-8 offset-xl-2 col-lg-8 offset-lg-1 col-md-12 shadow-lg alert alert-danger">
    <div class="card-body text-center">
        <h1>Sorry!</h1>
        <hr />
        <p>You're not allowed to access this page.</p>
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</div>