@{
    ViewData["Title"] = "Order Completed";
}
<div class="row my-1">
    <div class="col-8 offset-2 text-center">
        <h2>Order Completed</h2>
    </div>
</div>
<div class="card col-xl-8 offset-xl-2 col-lg-8 offset-lg-1 col-md-12 shadow-lg alert alert-success">
    <div class="card-body">
        <h1>Order Completed!</h1>
        <hr />
        <p>Thank you for ordering!</p>
    </div>
</div>